/* Commmon shared styles */
*{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#fd6e0a;
}
.btn-primary{
    border-radius:5px;
    border-style: none;
    background: #fd6e0a;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */

.header{
    background-color: #fff8f3;
}
.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}

/* main section styles */
main{
    max-width: 1140px;
    background-color: #fff8f3;
   margin: 0 auto;

}
.me{
    text-align: center;
}
.about{
    text-align: center;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-description{
    font-weight: bold;
}
.secton-title{
    text-align: center;
}
.section-description{
    text-align: center;
}
.what-i-do{
    margin:  auto;
}
#what-i-do{
    padding: 30px 150px;
}
.skills-container{
    display:flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

main section{
    margin-top: 130px;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
    
